@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex justify-center;
}

#app {
  @apply min-w-full m-0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}
